[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-cpu = "*"
streamlit = "*"
streamlit-drawable-canvas = "*"
dataclasses = "*"
opencv-python-headless = "*"
streamlit-lottie = "*"

[dev-packages]

[requires]
python_version = "3.6"
